.elementor-73311 .elementor-element.elementor-element-2c75043 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 120px;
    --padding-bottom: 120px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-73311 .elementor-element.elementor-element-27105168 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-73311 .elementor-element.elementor-element-72580fb5 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 30px;
}

.elementor-widget-ceasectiontitle {
    --separator-border-color: var(--e-global-color-secondary);
}

.elementor-widget-ceasectiontitle .title-separator>* {
    color: var(--e-global-color-secondary);
}

.elementor-73311 .elementor-element.elementor-element-6859ace0 {
    /* text-align: auto; */
}

.elementor-73311 .elementor-element.elementor-element-6859ace0.cea-align-center .section-description {
    margin: 0 auto;
}

.elementor-73311 .elementor-element.elementor-element-6859ace0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-73311 .elementor-element.elementor-element-6859ace0 .section-title-wrapper .section-title {
    margin-bottom: 20px;
}

.elementor-73311 .elementor-element.elementor-element-6859ace0 .section-title-wrapper .sub-title {
    margin-bottom: 20px;
}

.elementor-73311 .elementor-element.elementor-element-6859ace0 .section-description .lead {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-6859ace0 .section-description .section-content {
    margin-bottom: 20px;
}

.elementor-73311 .elementor-element.elementor-element-3d4480e2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-73311 .elementor-element.elementor-element-116f457b {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 0px;
}

.elementor-73311 .elementor-element.elementor-element-7b652a13 {
    width: auto;
    max-width: auto;
}

.elementor-73311 .elementor-element.elementor-element-7b652a13.elementor-element {
    --align-self: flex-start;
}

.elementor-73311 .elementor-element.elementor-element-7b652a13 .cea-button .cea-align-icon-right {
    margin-left: 7px;
}

.elementor-73311 .elementor-element.elementor-element-7b652a13 .cea-button .cea-align-icon-left {
    margin-right: 7px;
}

.elementor-73311 .elementor-element.elementor-element-7b652a13 .cea-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
    border-radius: 10px 10px 0px 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 19px 30px 19px 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.elementor-73311 .elementor-element.elementor-element-7b652a13 .cea-button:hover,
.elementor-73311 .elementor-element.elementor-element-7b652a13 .cea-button:focus {
    color: #FFFFFF;
}

.elementor-73311 .elementor-element.elementor-element-7b652a13 .cea-button:hover svg,
.elementor-73311 .elementor-element.elementor-element-7b652a13 .cea-button:focus svg {
    fill: #FFFFFF;
}

.elementor-73311 .elementor-element.elementor-element-116f457b.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-73311 .elementor-element.elementor-element-5aaa5fd8 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-text-editor {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-73311 .elementor-element.elementor-element-ba8c3f0 {
    text-align: left;
    color: var(--e-global-color-secondary);
    font-weight: 600;
}

.elementor-73311 .elementor-element.elementor-element-302573ab {
    --display: flex;
    --background-transition: 0.3s;
    --border-radius: 20px 20px 0px 20px;
    --padding-top: 30px;
    --padding-bottom: 20px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-73311 .elementor-element.elementor-element-302573ab:not(.elementor-motion-effects-element-type-background),
.elementor-73311 .elementor-element.elementor-element-302573ab>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F9FB;
}

.elementor-73311 .elementor-element.elementor-element-302573ab,
.elementor-73311 .elementor-element.elementor-element-302573ab::before {
    --border-transition: 0.3s;
}

.elementor-73311 .elementor-element.elementor-element-575a448 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 80px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-73311 .elementor-element.elementor-element-21e3ecd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-73311 .elementor-element.elementor-element-4cad3d06 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 15px;
}

.elementor-widget-ceafeaturebox .cea-featured-icon {
    color: var(--e-global-color-primary);
}

.elementor-widget-ceafeaturebox .cea-featured-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-widget-ceafeaturebox.cea-view-framed .cea-featured-icon {
    background-color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-ceafeaturebox.cea-view-stacked .cea-featured-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-widget-ceafeaturebox:hover .cea-featured-icon {
    color: var(--e-global-color-secondary);
}

.elementor-widget-ceafeaturebox:hover .cea-featured-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-widget-ceafeaturebox.cea-view-framed:hover .cea-featured-icon {
    background-color: var(--e-global-color-primary);
    border-color: var(--e-global-color-secondary);
}

.elementor-widget-ceafeaturebox.cea-view-stacked:hover .cea-featured-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 30px 30px 30px 30px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #DBE5E2;
    border-radius: 20px 20px 0px 20px;
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-wrapper .feature-box-title {
    text-transform: none;
    font-size: 28px;
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-wrapper,
.elementor-73311 .elementor-element.elementor-element-7f1eb700 a {
    color: var(--e-global-color-text);
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-wrapper:hover {
    color: var(--e-global-color-primary);
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-wrapper {
    /* text-align: left; */
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-wrapper:hover .feature-box-title,
.elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-wrapper:hover .feature-box-title>a {
    color: var(--e-global-color-primary);
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-title {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .cea-featured-icon i,
.elementor-73311 .elementor-element.elementor-element-7f1eb700 .cea-featured-icon svg {
    transform: rotate(0deg);
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .cea-featured-icon {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .cea-feature-box-img {
    margin-bottom: 5px !important;
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-wrapper .fbox-number {
    opacity: calc(10 / 10);
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-wrapper:hover .fbox-number {
    opacity: calc(10 / 10);
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .fbox-number {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .cea-button {
    background-color: #333333;
}

.elementor-73311 .elementor-element.elementor-element-7f1eb700 .fbox-content {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-1709864d {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 15px;
}

.elementor-73311 .elementor-element.elementor-element-1133f044>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 30px 30px 30px 30px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #DBE5E2;
    border-radius: 20px 20px 0px 20px;
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-wrapper .feature-box-title {
    text-transform: none;
    font-size: 28px;
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-wrapper,
.elementor-73311 .elementor-element.elementor-element-1133f044 a {
    color: var(--e-global-color-text);
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-wrapper:hover {
    color: var(--e-global-color-primary);
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-wrapper {
    /* text-align: left; */
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-wrapper:hover .feature-box-title,
.elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-wrapper:hover .feature-box-title>a {
    color: var(--e-global-color-primary);
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-title {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .cea-featured-icon i,
.elementor-73311 .elementor-element.elementor-element-1133f044 .cea-featured-icon svg {
    transform: rotate(0deg);
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .cea-featured-icon {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .cea-feature-box-img {
    margin-bottom: 5px !important;
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-wrapper .fbox-number {
    opacity: calc(10 / 10);
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-wrapper:hover .fbox-number {
    opacity: calc(10 / 10);
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .fbox-number {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .cea-button {
    background-color: #333333;
}

.elementor-73311 .elementor-element.elementor-element-1133f044 .fbox-content {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-4d45c0b7 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 30px 30px 30px 30px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #DBE5E2;
    border-radius: 20px 20px 0px 20px;
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .feature-box-wrapper .feature-box-title {
    text-transform: none;
    font-size: 28px;
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .feature-box-wrapper {
    /* text-align: left; */
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .feature-box-wrapper:hover .feature-box-title,
.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .feature-box-wrapper:hover .feature-box-title>a {
    color: var(--e-global-color-primary);
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .feature-box-title {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .cea-featured-icon i,
.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .cea-featured-icon svg {
    transform: rotate(0deg);
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .cea-featured-icon {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .cea-feature-box-img {
    margin-bottom: 5px !important;
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .feature-box-wrapper .fbox-number {
    opacity: calc(10 / 10);
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .feature-box-wrapper:hover .fbox-number {
    opacity: calc(10 / 10);
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .fbox-number {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .cea-button {
    background-color: #333333;
}

.elementor-73311 .elementor-element.elementor-element-56e3c1d1 .fbox-content {
    margin-bottom: 5px;
}

.elementor-73311 .elementor-element.elementor-element-2c75043,
.elementor-73311 .elementor-element.elementor-element-2c75043::before {
    --border-transition: 0.3s;
}

.elementor-73311 .elementor-element.elementor-element-1266c646 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-73311 .elementor-element.elementor-element-120ecd75 iframe {
    height: 450px;
    filter: brightness(100%) contrast(100%) saturate(92%) blur(0px) hue-rotate(329deg);
}

@media(max-width:1024px) {
    .elementor-73311 .elementor-element.elementor-element-6859ace0 .section-title-wrapper .section-title {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 48px;
    }

    .elementor-73311 .elementor-element.elementor-element-6859ace0 .section-title-wrapper .sub-title {
        margin-bottom: 15px;
    }

    .elementor-73311 .elementor-element.elementor-element-6859ace0 .section-description .section-content {
        margin-bottom: 15px;
    }

    .elementor-73311 .elementor-element.elementor-element-116f457b {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 10px;
        --padding-right: 0px;
    }

    .elementor-73311 .elementor-element.elementor-element-72580fb5 {
        --padding-top: 0px;
        --padding-bottom: 15px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-73311 .elementor-element.elementor-element-302573ab {
        --margin-top: 0px;
        --margin-bottom: 15px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 25px;
        --padding-bottom: 10px;
        --padding-left: 25px;
        --padding-right: 25px;
    }

    .elementor-73311 .elementor-element.elementor-element-27105168 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
    }

    .elementor-73311 .elementor-element.elementor-element-21e3ecd {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
    }

    .elementor-73311 .elementor-element.elementor-element-575a448 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-73311 .elementor-element.elementor-element-2c75043 {
        --margin-top: -70px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 60px;
        --padding-bottom: 60px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-73311 .elementor-element.elementor-element-1266c646 {
        --margin-top: 0px;
        --margin-bottom: -80px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
}

@media(max-width:767px) {
    .elementor-73311 .elementor-element.elementor-element-6859ace0 .section-title-wrapper .section-title {
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 38px;
    }

    .elementor-73311 .elementor-element.elementor-element-6859ace0 .section-title-wrapper .sub-title {
        margin-bottom: 10px;
    }

    .elementor-73311 .elementor-element.elementor-element-6859ace0 .section-description .lead {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-6859ace0 .section-description .section-content {
        margin-bottom: 10px;
    }

    .elementor-73311 .elementor-element.elementor-element-5aaa5fd8 {
        --padding-top: 10px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-73311 .elementor-element.elementor-element-302573ab {
        --padding-top: 30px;
        --padding-bottom: 20px;
        --padding-left: 25px;
        --padding-right: 25px;
    }

    .elementor-73311 .elementor-element.elementor-element-7f1eb700 .feature-box-title {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-7f1eb700 .cea-featured-icon {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-7f1eb700 .cea-feature-box-img {
        margin-bottom: 15px !important;
    }

    .elementor-73311 .elementor-element.elementor-element-7f1eb700 .fbox-number {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-7f1eb700 .fbox-content {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-1133f044 .feature-box-title {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-1133f044 .cea-featured-icon {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-1133f044 .cea-feature-box-img {
        margin-bottom: 15px !important;
    }

    .elementor-73311 .elementor-element.elementor-element-1133f044 .fbox-number {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-1133f044 .fbox-content {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-56e3c1d1 .feature-box-title {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-56e3c1d1 .cea-featured-icon {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-56e3c1d1 .cea-feature-box-img {
        margin-bottom: 15px !important;
    }

    .elementor-73311 .elementor-element.elementor-element-56e3c1d1 .fbox-number {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-56e3c1d1 .fbox-content {
        margin-bottom: 5px;
    }

    .elementor-73311 .elementor-element.elementor-element-575a448 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-73311 .elementor-element.elementor-element-2c75043 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-73311 .elementor-element.elementor-element-1266c646 {
        --margin-top: 0px;
        --margin-bottom: -50px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
}

@media(min-width:768px) {
    .elementor-73311 .elementor-element.elementor-element-116f457b {
        --width: 40.713%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-73311 .elementor-element.elementor-element-116f457b {
        --width: 221.016px;
    }
}