.elementor-73186 .elementor-element.elementor-element-19c3a0af{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:10px 10px;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:70px;--padding-bottom:120px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-bd64996{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-ceasectiontitle{--separator-border-color:var( --e-global-color-secondary );}.elementor-widget-ceasectiontitle .title-separator > *{color:var( --e-global-color-secondary );}.elementor-73186 .elementor-element.elementor-element-7a276fcb{text-align:left;}.elementor-73186 .elementor-element.elementor-element-7a276fcb.cea-align-center .section-description{margin:0 auto;}.elementor-73186 .elementor-element.elementor-element-7a276fcb > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-7a276fcb .section-title-wrapper .section-title{margin-bottom:10px;font-size:38px;line-height:44px;}.elementor-73186 .elementor-element.elementor-element-7a276fcb .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-7a276fcb .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-7a276fcb .section-description .section-content{color:#777777;margin-bottom:5px;}.elementor-widget-text-editor{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-594bf3e2 > .elementor-widget-container{padding:0px 0px 10px 0px;}.elementor-73186 .elementor-element.elementor-element-594bf3e2{color:var( --e-global-color-text );}.elementor-73186 .elementor-element.elementor-element-4c5f1bcd{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-208d31f3{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-77b33804{text-align:left;}.elementor-73186 .elementor-element.elementor-element-77b33804.cea-align-center .section-description{margin:0 auto;}.elementor-73186 .elementor-element.elementor-element-77b33804 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-77b33804 .section-title-wrapper .section-title{margin-bottom:10px;font-size:38px;line-height:44px;}.elementor-73186 .elementor-element.elementor-element-77b33804 .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-77b33804 .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-77b33804 .section-description .section-content{color:#777777;margin-bottom:5px;}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-73186 .elementor-element.elementor-element-27c8ad9d{width:var( --container-widget-width, 109.497% );max-width:109.497%;--container-widget-width:109.497%;--container-widget-flex-grow:0;--e-icon-list-icon-size:18px;--icon-vertical-offset:0px;}.elementor-73186 .elementor-element.elementor-element-27c8ad9d.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(6px/2);}.elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(6px/2);}.elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(6px/2);margin-left:calc(6px/2);}.elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-6px/2);margin-left:calc(-6px/2);}body.rtl .elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-6px/2);}body:not(.rtl) .elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-6px/2);}.elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-icon i{color:var( --e-global-color-primary );transition:color 0.3s;}.elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );transition:fill 0.3s;}.elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-icon{padding-right:5px;}.elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-item > a{font-weight:600;}.elementor-73186 .elementor-element.elementor-element-27c8ad9d .elementor-icon-list-text{color:var( --e-global-color-secondary );transition:color 0.3s;}.elementor-73186 .elementor-element.elementor-element-56621977{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-ffdd038{text-align:left;}.elementor-73186 .elementor-element.elementor-element-ffdd038.cea-align-center .section-description{margin:0 auto;}.elementor-73186 .elementor-element.elementor-element-ffdd038 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 .section-title-wrapper .section-title{margin-bottom:10px;font-size:38px;line-height:44px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 .section-description .section-content{color:#777777;margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-3e243775{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-5dad6c6c{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-ceaflipbox:not(.cea-primary-icon-view-default) .flip-front .flip-box-icon{background-color:var( --e-global-color-secondary );}.elementor-widget-ceaflipbox .flip-front .flip-box-icon{color:var( --e-global-color-primary );}.elementor-widget-ceaflipbox .flip-front .flip-box-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-ceaflipbox.cea-primary-icon-view-framed .flip-front .flip-box-icon{border-color:var( --e-global-color-primary );}.elementor-widget-ceaflipbox:not(.cea-secondary-icon-view-default) .flip-back .flip-box-icon{background-color:var( --e-global-color-primary );}.elementor-widget-ceaflipbox .flip-back .flip-box-icon{color:var( --e-global-color-secondary );}.elementor-widget-ceaflipbox .flip-back .flip-box-icon svg{fill:var( --e-global-color-secondary );}.elementor-73186 .elementor-element.elementor-element-6b655882 > .elementor-widget-container{border-radius:20px 20px 0px 20px;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-box-wrapper{height:165px;text-align:center;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-box-wrapper .flip-front, .elementor-73186 .elementor-element.elementor-element-6b655882 .flip-box-wrapper .flip-back {padding:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-box-inner .flip-front{background-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-box-inner .flip-back{background-color:#F8F9FB;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-front .flip-box-title{color:#FFFFFF;margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-back .flip-box-title{color:var( --e-global-color-secondary );margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-front .flip-box-icon{color:#FFFFFF;font-size:20px;transform:rotate(0deg);}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-front .flip-box-icon svg{fill:#FFFFFF;}.elementor-73186 .elementor-element.elementor-element-6b655882.cea-primary-icon-view-framed .flip-front .flip-box-icon{border-color:#FFFFFF;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-back .flip-box-icon{font-size:20px;transform:rotate(0deg);}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-box-wrapper .flip-front .flip-box-image{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-box-wrapper .flip-back .flip-box-image{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-front .cea-button{background-color:#333333;margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-back .cea-button{background-color:#333333;margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-box-wrapper .flip-front .flip-content{color:#FFFFFF;margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6b655882 .flip-box-wrapper .flip-back .flip-content{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-2c0c25a3{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 > .elementor-widget-container{border-radius:20px 20px 0px 20px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-box-wrapper{height:165px;text-align:center;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-box-wrapper .flip-front, .elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-box-wrapper .flip-back {padding:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-box-inner .flip-front{background-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-box-inner .flip-back{background-color:#F8F9FB;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-front .flip-box-title{color:#FFFFFF;margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-back .flip-box-title{color:var( --e-global-color-secondary );margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-front .flip-box-icon{color:#FFFFFF;font-size:20px;transform:rotate(0deg);}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-front .flip-box-icon svg{fill:#FFFFFF;}.elementor-73186 .elementor-element.elementor-element-50e55d89.cea-primary-icon-view-framed .flip-front .flip-box-icon{border-color:#FFFFFF;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-back .flip-box-icon{font-size:20px;transform:rotate(0deg);}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-box-wrapper .flip-front .flip-box-image{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-box-wrapper .flip-back .flip-box-image{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-front .cea-button{background-color:#333333;margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-back .cea-button{background-color:#333333;margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-box-wrapper .flip-front .flip-content{color:#FFFFFF;margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-50e55d89 .flip-box-wrapper .flip-back .flip-content{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6f91c04b{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-bottom:110px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-41d091ff{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-66aecaf6{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f{text-align:left;}.elementor-73186 .elementor-element.elementor-element-6df1c97f.cea-align-center .section-description{margin:0 auto;}.elementor-73186 .elementor-element.elementor-element-6df1c97f > .elementor-widget-container{padding:0px 30px 20px 0px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-title-wrapper .section-title{margin-bottom:25px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-title-wrapper .sub-title{margin-bottom:20px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-description .section-content{margin-bottom:0px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-73186 .elementor-element.elementor-element-b1f4842 img{border-radius:20px 20px 0px 20px;}.elementor-widget-ceapopupanything .popup-trigger-icon{color:var( --e-global-color-primary );}.elementor-widget-ceapopupanything .popup-trigger-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-ceapopupanything.cea-view-framed .popup-trigger-icon{background-color:var( --e-global-color-secondary );border-color:var( --e-global-color-primary );}.elementor-widget-ceapopupanything.cea-view-stacked .popup-trigger-icon{background-color:var( --e-global-color-secondary );}.elementor-widget-ceapopupanything:hover .popup-trigger-icon{color:var( --e-global-color-secondary );}.elementor-widget-ceapopupanything:hover .popup-trigger-icon svg{fill:var( --e-global-color-secondary );}.elementor-widget-ceapopupanything.cea-view-framed:hover .popup-trigger-icon{background-color:var( --e-global-color-primary );border-color:var( --e-global-color-secondary );}.elementor-widget-ceapopupanything.cea-view-stacked:hover .popup-trigger-icon{background-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-3adee37e{width:auto;max-width:auto;z-index:2;}.elementor-73186 .elementor-element.elementor-element-3adee37e > .elementor-widget-container{margin:-300px 0px 0px 35px;padding:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-3adee37e.elementor-element{--align-self:flex-start;}.elementor-73186 .elementor-element.elementor-element-3adee37e .popup-anything-wrapper{color:#FFFFFF;}.elementor-73186 .elementor-element.elementor-element-3adee37e .popup-trigger-icon{color:#FFFFFF;font-size:26px;margin-bottom:5px;border-radius:50px 50px 50px 50px;}.elementor-73186 .elementor-element.elementor-element-3adee37e .popup-trigger-icon svg{fill:#FFFFFF;}.elementor-73186 .elementor-element.elementor-element-3adee37e.cea-view-framed .popup-trigger-icon{background-color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-3adee37e.cea-view-stacked .popup-trigger-icon{background-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-3adee37e:hover .popup-trigger-icon{color:#FFFFFF;}.elementor-73186 .elementor-element.elementor-element-3adee37e:hover .popup-trigger-icon svg{fill:#FFFFFF;}.elementor-73186 .elementor-element.elementor-element-3adee37e.cea-view-framed:hover .popup-trigger-icon{background-color:var( --e-global-color-secondary );}.elementor-73186 .elementor-element.elementor-element-3adee37e.cea-view-stacked:hover .popup-trigger-icon{background-color:var( --e-global-color-secondary );}.elementor-73186 .elementor-element.elementor-element-3adee37e .popup-trigger-icon i, .elementor-73186 .elementor-element.elementor-element-3adee37e .popup-trigger-icon svg{transform:rotate(0deg);}.elementor-73186 .elementor-element.elementor-element-66aecaf6.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-73186 .elementor-element.elementor-element-3ef585ee{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:30px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-26934d20 > .elementor-widget-container{padding:0px 0px 30px 0px;}.elementor-73186 .elementor-element.elementor-element-26934d20 img{border-radius:20px 20px 0px 20px;}.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-widget-progress .elementor-title{color:var( --e-global-color-primary );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-73186 .elementor-element.elementor-element-ca1ab81 > .elementor-widget-container{margin:0px 0px 15px 0px;padding:0px 0px 0px 65px;}.elementor-73186 .elementor-element.elementor-element-ca1ab81 .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-ca1ab81 .elementor-progress-bar{height:4px;line-height:4px;font-size:15px;font-weight:600;text-transform:capitalize;}.elementor-73186 .elementor-element.elementor-element-ca1ab81 .elementor-title{color:var( --e-global-color-secondary );font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:1px;}.elementor-73186 .elementor-element.elementor-element-b6f5373 > .elementor-widget-container{margin:0px 0px 15px 0px;padding:0px 0px 0px 65px;}.elementor-73186 .elementor-element.elementor-element-b6f5373 .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-b6f5373 .elementor-progress-bar{height:4px;line-height:4px;font-size:15px;font-weight:600;text-transform:capitalize;}.elementor-73186 .elementor-element.elementor-element-b6f5373 .elementor-title{color:var( --e-global-color-secondary );font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:1px;}.elementor-73186 .elementor-element.elementor-element-9cce2b9 > .elementor-widget-container{margin:0px 0px 15px 0px;padding:0px 0px 0px 65px;}.elementor-73186 .elementor-element.elementor-element-9cce2b9 .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-9cce2b9 .elementor-progress-bar{height:4px;line-height:4px;font-size:15px;font-weight:600;text-transform:capitalize;}.elementor-73186 .elementor-element.elementor-element-9cce2b9 .elementor-title{color:var( --e-global-color-secondary );font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:1px;}.elementor-73186 .elementor-element.elementor-element-4849de71 > .elementor-widget-container{margin:0px 0px 15px 0px;padding:0px 0px 0px 65px;}.elementor-73186 .elementor-element.elementor-element-4849de71 .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-4849de71 .elementor-progress-bar{height:4px;line-height:4px;font-size:15px;font-weight:600;text-transform:capitalize;}.elementor-73186 .elementor-element.elementor-element-4849de71 .elementor-title{color:var( --e-global-color-secondary );font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:1px;}.elementor-73186 .elementor-element.elementor-element-76de3f5f > .elementor-widget-container{margin:0px 0px 15px 0px;padding:0px 0px 0px 65px;}.elementor-73186 .elementor-element.elementor-element-76de3f5f .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-73186 .elementor-element.elementor-element-76de3f5f .elementor-progress-bar{height:4px;line-height:4px;font-size:15px;font-weight:600;text-transform:capitalize;}.elementor-73186 .elementor-element.elementor-element-76de3f5f .elementor-title{color:var( --e-global-color-secondary );font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:1px;}.elementor-73186 .elementor-element.elementor-element-3ef585ee.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-73186 .elementor-element.elementor-element-7e22366f{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-34f3baaa{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:10px 10px;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-47d80324{--display:flex;--background-transition:0.3s;--border-radius:20px 20px 0px 20px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:50px;--padding-bottom:50px;--padding-left:50px;--padding-right:50px;}.elementor-73186 .elementor-element.elementor-element-47d80324:not(.elementor-motion-effects-element-type-background), .elementor-73186 .elementor-element.elementor-element-47d80324 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F8F9FB;}.elementor-73186 .elementor-element.elementor-element-48566a2f{text-align:left;}.elementor-73186 .elementor-element.elementor-element-48566a2f.cea-align-center .section-description{margin:0 auto;}.elementor-73186 .elementor-element.elementor-element-48566a2f > .elementor-widget-container{padding:0px 30px 20px 0px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-title-wrapper .section-title{margin-bottom:25px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-title-wrapper .sub-title{margin-bottom:20px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-description .section-content{margin-bottom:0px;}.elementor-73186 .elementor-element.elementor-element-61bbbef7 > .elementor-widget-container{margin:-10px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-61bbbef7 .contact-form-wrapper{text-align:left;}.elementor-73186 .elementor-element.elementor-element-47d80324, .elementor-73186 .elementor-element.elementor-element-47d80324::before{--border-transition:0.3s;}@media(max-width:1024px){.elementor-73186 .elementor-element.elementor-element-7a276fcb .section-title-wrapper .section-title{margin-bottom:10px;font-size:40px;line-height:48px;}.elementor-73186 .elementor-element.elementor-element-77b33804 .section-title-wrapper .section-title{margin-bottom:10px;font-size:27px;line-height:35px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 .section-title-wrapper .section-title{margin-bottom:10px;font-size:27px;line-height:35px;}.elementor-73186 .elementor-element.elementor-element-4c5f1bcd{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-73186 .elementor-element.elementor-element-bd64996{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-19c3a0af{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:40px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-title-wrapper .section-title{margin-bottom:20px;font-size:40px;line-height:48px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-title-wrapper .sub-title{margin-bottom:15px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-description .section-content{margin-bottom:0px;}.elementor-73186 .elementor-element.elementor-element-b1f4842{text-align:left;}.elementor-73186 .elementor-element.elementor-element-3adee37e > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-73186 .elementor-element.elementor-element-3adee37e{z-index:2;}.elementor-73186 .elementor-element.elementor-element-3adee37e .popup-anything-wrapper{text-align:center;}.elementor-73186 .elementor-element.elementor-element-26934d20{text-align:left;}.elementor-73186 .elementor-element.elementor-element-3ef585ee{--padding-top:25px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-41d091ff{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-73186 .elementor-element.elementor-element-6f91c04b{--padding-top:30px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-title-wrapper .section-title{margin-bottom:20px;font-size:40px;line-height:48px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-title-wrapper .sub-title{margin-bottom:15px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-description .section-content{margin-bottom:0px;}.elementor-73186 .elementor-element.elementor-element-61bbbef7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-47d80324{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:40px;--padding-bottom:40px;--padding-left:40px;--padding-right:40px;}.elementor-73186 .elementor-element.elementor-element-34f3baaa{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:50px;--padding-bottom:0px;--padding-left:15px;--padding-right:15px;}}@media(max-width:767px){.elementor-73186 .elementor-element.elementor-element-7a276fcb > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-7a276fcb .section-title-wrapper .section-title{margin-bottom:5px;font-size:30px;line-height:38px;}.elementor-73186 .elementor-element.elementor-element-7a276fcb .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-7a276fcb .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-7a276fcb .section-description .section-content{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-594bf3e2 > .elementor-widget-container{padding:0px 0px 10px 0px;}.elementor-73186 .elementor-element.elementor-element-77b33804 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-77b33804 .section-title-wrapper .section-title{margin-bottom:5px;font-size:30px;line-height:38px;}.elementor-73186 .elementor-element.elementor-element-77b33804 .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-77b33804 .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-77b33804 .section-description .section-content{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-27c8ad9d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-208d31f3{--gap:0px 0px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 .section-title-wrapper .section-title{margin-bottom:5px;font-size:30px;line-height:38px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-ffdd038 .section-description .section-content{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-5dad6c6c{--gap:0px 0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-2c0c25a3{--padding-top:15px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-56621977{--gap:0px 0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-19c3a0af{--padding-top:40px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f > .elementor-widget-container{padding:0px 0px 15px 0px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-title-wrapper .section-title{margin-bottom:15px;font-size:30px;line-height:38px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-title-wrapper .sub-title{margin-bottom:10px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-6df1c97f .section-description .section-content{margin-bottom:0px;}.elementor-73186 .elementor-element.elementor-element-3adee37e > .elementor-widget-container{margin:0px 0px 15px 0px;padding:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-3adee37e .popup-trigger-icon{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-26934d20 > .elementor-widget-container{padding:0px 0px 15px 0px;}.elementor-73186 .elementor-element.elementor-element-3ef585ee{--padding-top:15px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-6f91c04b{--padding-top:20px;--padding-bottom:30px;--padding-left:0px;--padding-right:0px;}.elementor-73186 .elementor-element.elementor-element-48566a2f > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-title-wrapper .section-title{margin-bottom:15px;font-size:30px;line-height:38px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-title-wrapper .sub-title{margin-bottom:10px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-description .lead{margin-bottom:5px;}.elementor-73186 .elementor-element.elementor-element-48566a2f .section-description .section-content{margin-bottom:0px;}.elementor-73186 .elementor-element.elementor-element-47d80324{--padding-top:35px;--padding-bottom:40px;--padding-left:20px;--padding-right:20px;}.elementor-73186 .elementor-element.elementor-element-34f3baaa{--margin-top:0px;--margin-bottom:-50px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}}@media(min-width:768px){.elementor-73186 .elementor-element.elementor-element-66aecaf6{--width:44.414%;}.elementor-73186 .elementor-element.elementor-element-3ef585ee{--width:40.543%;}}@media(max-width:1024px) and (min-width:768px){.elementor-73186 .elementor-element.elementor-element-66aecaf6{--width:100%;}.elementor-73186 .elementor-element.elementor-element-3ef585ee{--width:100%;}.elementor-73186 .elementor-element.elementor-element-47d80324{--width:100%;}}/* Start custom CSS for ceapopupanything, class: .elementor-element-3adee37e */.cea-view-framed .cea-popup-anything.popup-trigger-icon:after, .cea-view-framed .cea-popup-anything.popup-trigger-icon:before {
    background: rgb(1 186 221 / 65%) !important) !important;
    border: 1px solid #38BDE0;
}/* End custom CSS */
/* Start custom CSS for ceapopupanything, class: .elementor-element-3adee37e */.cea-view-framed .cea-popup-anything.popup-trigger-icon:after, .cea-view-framed .cea-popup-anything.popup-trigger-icon:before {
    background: rgb(1 186 221 / 65%) !important) !important;
    border: 1px solid #38BDE0;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-ca1ab81 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-b6f5373 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-9cce2b9 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-4849de71 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-76de3f5f */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-ca1ab81 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-b6f5373 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-9cce2b9 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-4849de71 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-76de3f5f */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for ceapopupanything, class: .elementor-element-3adee37e */.cea-view-framed .cea-popup-anything.popup-trigger-icon:after, .cea-view-framed .cea-popup-anything.popup-trigger-icon:before {
    background: rgb(1 186 221 / 65%) !important) !important;
    border: 1px solid #38BDE0;
}/* End custom CSS */
/* Start custom CSS for ceapopupanything, class: .elementor-element-3adee37e */.cea-view-framed .cea-popup-anything.popup-trigger-icon:after, .cea-view-framed .cea-popup-anything.popup-trigger-icon:before {
    background: rgb(1 186 221 / 65%) !important) !important;
    border: 1px solid #38BDE0;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-ca1ab81 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-b6f5373 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-9cce2b9 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-4849de71 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-76de3f5f */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-ca1ab81 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-b6f5373 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-9cce2b9 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-4849de71 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-76de3f5f */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for ceapopupanything, class: .elementor-element-3adee37e */.cea-view-framed .cea-popup-anything.popup-trigger-icon:after, .cea-view-framed .cea-popup-anything.popup-trigger-icon:before {
    background: rgb(1 186 221 / 65%) !important) !important;
    border: 1px solid #38BDE0;
}/* End custom CSS */
/* Start custom CSS for ceapopupanything, class: .elementor-element-3adee37e */.cea-view-framed .cea-popup-anything.popup-trigger-icon:after, .cea-view-framed .cea-popup-anything.popup-trigger-icon:before {
    background: rgb(1 186 221 / 65%) !important) !important;
    border: 1px solid #38BDE0;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-ca1ab81 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-b6f5373 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-9cce2b9 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-4849de71 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-76de3f5f */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-ca1ab81 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-b6f5373 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-9cce2b9 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-4849de71 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-76de3f5f */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for ceapopupanything, class: .elementor-element-3adee37e */.cea-view-framed .cea-popup-anything.popup-trigger-icon:after, .cea-view-framed .cea-popup-anything.popup-trigger-icon:before {
    background: rgb(1 186 221 / 65%) !important) !important;
    border: 1px solid #38BDE0;
}/* End custom CSS */
/* Start custom CSS for ceapopupanything, class: .elementor-element-3adee37e */.cea-view-framed .cea-popup-anything.popup-trigger-icon:after, .cea-view-framed .cea-popup-anything.popup-trigger-icon:before {
    background: rgb(1 186 221 / 65%) !important) !important;
    border: 1px solid #38BDE0;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-ca1ab81 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-b6f5373 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-9cce2b9 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-4849de71 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-76de3f5f */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-ca1ab81 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-b6f5373 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-9cce2b9 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-4849de71 */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */
/* Start custom CSS for progress, class: .elementor-element-76de3f5f */.elementor-progress-percentage {
    padding-right: 0 !important;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 43px;
    top: -15px;
    padding-right: 0;
    line-height: 43px;
    text-align: center;
    background: #38BDE0;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
}/* End custom CSS */